<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "Zvone's Articles", root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        
        
        
      </ul>
      <ul class="nav navbar-nav navbar-right justify-content-end">
        
        <li><%= link_to "Contact Us",  pages_contact_path %></li>
        <li><%= link_to "About Us",  pages_about_path %></li>
        <% if !current_user %>
        <li><%= link_to "Sign Up",  new_user_registration_path %></li>
        <li><%= link_to "Sign In",  new_user_session_path %></li>
        
      </ul>
      <% else %> 
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle btn-dark" style="margin-left:4rem;" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
        <%= current_user.username %>
        </button>
        <ul id="a" class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
          <li><a class="dropdown-item active" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><%= link_to "Edit My Profile",  edit_user_registration_path %></li>
          <li><hr class="dropdown-divider"></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
      <% end %>
    </div>
  </div>
</nav>
